html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #121212;
}

body {
  font-family: PingFang SC, Arial, \\5FAE\8F6F\96C5\9ED1, \\5B8B\4F53, simsun, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.filter > * > * {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
@font-face {
  font-family: "icons";
  src: url(//statics.itc.cn/mptcfeCBDCompRender/prod/css/images/icons-c5ba655f1f5d03ff3e087c34ef09661c.eot);
  src: url(//statics.itc.cn/mptcfeCBDCompRender/prod/css/images/icons-c5ba655f1f5d03ff3e087c34ef09661c.eot?#iefix) format("embedded-opentype"), url(//statics.itc.cn/mptcfeCBDCompRender/prod/css/images/icons-5e5b46c47ac845c407f2ae33c629808f.woff) format("woff"), url(//statics.itc.cn/mptcfeCBDCompRender/prod/css/images/icons-5442fb3cded1b9599c7a7202e5a06354.ttf) format("truetype"), url(//statics.itc.cn/mptcfeCBDCompRender/prod/css/images/icons-48c81954ffe6b9aae5f76b0e1669fcec.svg#icons) format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="i-"],
[class*=" i-"] {
  font-family: icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-ad-exp:before {
  content: "\F101";
}

.i-add-to-desktop:before {
  content: "\F102";
}

.i-arrow-down:before {
  content: "\F103";
}

.i-arrow-down2:before {
  content: "\F104";
}

.i-arrow-left:before {
  content: "\F105";
}

.i-arrow-left2:before {
  content: "\F106";
}

.i-arrow-right-circle:before {
  content: "\F107";
}

.i-arrow-right-three:before {
  content: "\F108";
}

.i-arrow-right:before {
  content: "\F109";
}

.i-arrow-topic-down:before {
  content: "\F10A";
}

.i-arrow-topic-right:before {
  content: "\F10B";
}

.i-arrow-up:before {
  content: "\F10C";
}

.i-backtop:before {
  content: "\F10D";
}

.i-bold-down:before {
  content: "\F10E";
}

.i-bold-up:before {
  content: "\F10F";
}

.i-checkbox:before {
  content: "\F110";
}

.i-close-bold:before {
  content: "\F111";
}

.i-close-box:before {
  content: "\F112";
}

.i-close-eye-new:before {
  content: "\F113";
}

.i-close-eye:before {
  content: "\F114";
}

.i-close-search:before {
  content: "\F115";
}

.i-close-thin:before {
  content: "\F116";
}

.i-comment-oval:before {
  content: "\F117";
}

.i-comment-rect:before {
  content: "\F118";
}

.i-comment-rect2:before {
  content: "\F119";
}

.i-contact:before {
  content: "\F11A";
}

.i-curved:before {
  content: "\F11B";
}

.i-delete:before {
  content: "\F11C";
}

.i-email:before {
  content: "\F11D";
}

.i-fail:before {
  content: "\F11E";
}

.i-feedback:before {
  content: "\F11F";
}

.i-fire:before {
  content: "\F120";
}

.i-heart-fill:before {
  content: "\F121";
}

.i-heart:before {
  content: "\F122";
}

.i-history-clear:before {
  content: "\F123";
}

.i-home:before {
  content: "\F124";
}

.i-ic_close:before {
  content: "\F125";
}

.i-ic_down:before {
  content: "\F126";
}

.i-ic_home_back:before {
  content: "\F127";
}

.i-ic_list_comment:before {
  content: "\F128";
}

.i-ic_more_type:before {
  content: "\F129";
}

.i-ic_more:before {
  content: "\F12A";
}

.i-ic_more2:before {
  content: "\F12B";
}

.i-ic_retract:before {
  content: "\F12C";
}

.i-ic_search:before {
  content: "\F12D";
}

.i-ic_top:before {
  content: "\F12E";
}

.i-lightning:before {
  content: "\F12F";
}

.i-live:before {
  content: "\F130";
}

.i-loading-search:before {
  content: "\F131";
}

.i-loading:before {
  content: "\F132";
}

.i-location-fix:before {
  content: "\F133";
}

.i-location-nav:before {
  content: "\F134";
}

.i-logo-sogou:before {
  content: "\F135";
}

.i-logo-sohu:before {
  content: "\F136";
}

.i-mini-small:before {
  content: "\F137";
}

.i-more-bold:before {
  content: "\F138";
}

.i-more-thin:before {
  content: "\F139";
}

.i-next-block:before {
  content: "\F13A";
}

.i-play-btn:before {
  content: "\F13B";
}

.i-play-game:before {
  content: "\F13C";
}

.i-query-new:before {
  content: "\F13D";
}

.i-read:before {
  content: "\F13E";
}

.i-refresh:before {
  content: "\F13F";
}

.i-search-box:before {
  content: "\F140";
}

.i-search-cancel:before {
  content: "\F141";
}

.i-search-news:before {
  content: "\F142";
}

.i-search-up:before {
  content: "\F143";
}

.i-search:before {
  content: "\F144";
}

.i-share-app:before {
  content: "\F145";
}

.i-share-circle:before {
  content: "\F146";
}

.i-share-safari:before {
  content: "\F147";
}

.i-switch:before {
  content: "\F148";
}

.i-thumb:before {
  content: "\F149";
}

.i-to-next:before {
  content: "\F14A";
}

.i-to-recForU:before {
  content: "\F14B";
}

.i-video-play:before {
  content: "\F14C";
}

.i-view:before {
  content: "\F14D";
}
